@font-face {
    font-family: Sanchez;
    src: url(../fonts/sanchez-regular.otf);
  }
@font-face {
    font-family: Gotham;
    src: url(../fonts/Gotham-Medium.otf);
  }
@font-face {
    font-family: Gotham Book;
    src: url(../fonts/Gotham-Book.OTF);
  }
 
:root {
    --primary: #B38D44;
    --dark: #1A2437;
    --light: #E8E8E8;
    --line: #858585;
    --dark_alt: #262F41;
}
body{
    background-color: var(--dark);
}
.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}
/*ESTRUCTURA*/
.altura_total{
    min-height: 100vh;
    width: 100%;
}
.section_padding{
    padding-top: 60px;
}
.m_t_5{
    margin-top: 50px;
}
.m_b_5{
    margin-bottom: 50px;
}
.m_b_3{
    margin-bottom: 30px;
}
.m_t_3{
    margin-top: 30px;
}
.p_b_12{
    padding-bottom: 120px;
}
.p_b_6{
    padding-bottom: 60px;
}
.p_b_3{
    padding-bottom: 30px;
}
/*POSICIONES FLEXIBLES*/
.posicion-c-c-c-c{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.posicion-r-c-c-c{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
/*** BUTTONS ***/
.back-to-top-bonnie {
    width: 48px;
    height: 48px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
    transition: .5s;
    background-color: var(--primary);
    color: var(--light);
}
/*TEXTO*/
.espacio_titulo{
    letter-spacing: 0.6em !important;
}
.belvedere-title{
    font-family: 'Sanchez';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: var(--primary);
    text-transform: uppercase;
    letter-spacing: 0.08em;  
}
.belvedere-subtitle{   
    font-family: 'Sanchez';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.19em;   
    color: var(--primary);    
}
.header-text{
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1em;  
    color: var(--light);
    max-width: 600px;
}
.belvedere-text{
    font-family: 'Gotham Book';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 28px;
    color: var(--light);
    letter-spacing: 0.05em;
    max-width: 810px;
}
/*NAVBAR*/
.navbar-light .navbar-toggler-icon{
    background-image: url("../img/btn_navbar.svg");
    background-size: 80%; 
}
.navbar-light .navbar-toggler{
    border-color: rgba(0,0,0,0);
}
.navbar-toggler:focus{
    box-shadow: 0 0 0 0;
}
.navbar .navbar-nav .nav-link {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.9px;
    position: relative;
    margin-right: 25px;
    padding: 20px 0px;
    color: var(--light);
    outline: none;
    transition: .5s;
}
.navbar .navbar-nav .nav-link:hover{
    color: var(--line);
}
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}
.sticky-top.navbar .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--light);
}
.sticky-top.navbar .navbar-nav .nav-link:hover,
.sticky-top.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}
.navbar .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}
.sticky-top.navbar .navbar-brand img {
    max-height: 45px;
}
@media (max-width: 991.98px) {
    .sticky-top.navbar {
        position: relative;
        background: var(--dark);
    }

    .navbar .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar .navbar-nav .nav-link,
    .sticky-top.navbar .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark);
    }

    .navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-nav .nav-link.active {
        color: var(--primary);
    }

    .navbar .navbar-brand h1 {
        color: var(--primary);
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
    }
    
    .sticky-top.navbar {
        position: fixed;
        background: var(--dark);
    }

      .navbar .navbar-nav .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .navbar-nav .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }

    .sticky-top.navbar .btn {
        color: var(--light);
        background: var(--primary);
        border-color: var(--primary);
    }
}
@media screen and (max-width: 524px){
    .altura_total{
        min-height: 80vh;
        width: 100%;
    }
    .section_padding{
        padding-top: 60px;
    }
    .m_t_5{
        margin-top: 50px;
    }
    .m_b_5{
        margin-bottom: 50px;
    }
    .m_b_3{
        margin-bottom: 30px;
    }
    .m_t_3{
        margin-top: 30px;
    }
    .p_b_12{
        padding-bottom: 120px;
    }
    .p_b_6{
        padding-bottom: 60px;
    }
    .p_b_3{
        padding-bottom: 30px;
    }
    /*TEXTO*/
    .espacio_titulo{
        letter-spacing: 0.6em !important;
    }
    .belvedere-title{
        font-size: 20px;
    }
    .belvedere-subtitle{   
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.17em;      
    }
    .header-text{
        font-size: 19px;
        letter-spacing: 0.05em;  
        padding-right: 15px;
        padding-left: 15px;
    }
    .belvedere-text{
        font-size: 16px;
    }
    .carousel-urbanizacion-item{
        width: 100% !important;
        height: 233.61px !important;
        border-radius: 10px !important;
    }
    #ubicacion_right_cont{
        padding: 30px !important;
        text-align: center;
    }
    #contenedor_bonnie_ubicacion{
        border-radius: 0px 0px 10px 10px !important;
    }
}
/*HOME*/
#home{
    background-image: url("../img/background_home_1.svg");
    background-position: left; 
    background-repeat: no-repeat; 
    background-size: contain; 
}
.btn_home_video{
    width: 70px;
    height: 70px;
    background-color: var(--primary);
    border-radius: 180px;
    border: none;
    color: var(--light);
    transition: .5s;
}
.btn_home_video .bi-play-fill{
    font-size: 26px;
}
/*MODAL*/
#VideoModal .modal-dialog{
    width: 95%;
    background-color: var(--dark_alt);
    max-width: 95%;
    height: 91%;
}
#VideoModal .modal_cont{
    width: 90%;
    height: 90vh;
    margin: 0px ;
}
.modal-header{
    border-bottom: 0px;
}

/*URBANIZACION*/
#carousel_1{
    background-image: url("../img/img_urbanizacion_carouel_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#carousel_2{
    background-image: url("../img/img_urbanizacion_carouel_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel-urbanizacion-item{
    height: 462px;
    width: 815px;
    border-radius: 20px;
    margin: 0 auto;
}
.owl-nav {
    display: flex;
    justify-content: center;
}
.owl-nav .owl-prev,
.owl-nav .owl-next {
    margin: 0 12px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    background: var(--primary);
    border-radius: 60px;
    font-size: 18px;
    transition: .5s;
}
.belvedere-carousel .owl-nav .owl-prev:hover,
.belvedere-carousel .owl-nav .owl-next:hover {
    color: var(--light);
    background: var(--line);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
.owl-stage-outer{
    margin-bottom: 30px;
}
/*SERVICIOS*/
.servicios-text{
    font-family: 'Sanchez';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.2px;
    text-align: center;
    color: var(--light);
}
.servicios-imagen-cont{
    width: 358px;
    height: 233.61px;
    border-radius: 10px;
    transition: .5s;
}
.carousel-servicios-item{
    width: 100%;
    height: 233.61px;
    border-radius: 10px;
    margin: 0 auto;
}
/**Imagenes Servicios***/
.servicios-imagen-cont{
    margin-bottom: 20px;
}
#servicios_imagen_red_agua{
    background-image: url("../img/servicios_red_agua.jpg");
    background-size: cover;
    background-position: center;
}
#servicios_imagen_luz_bm_tension{
    background-image: url("../img/servicios_luz_baja_media_tension.jpg");
    background-size: cover;
}
#servicios_imagen_gas_natural{
    background-image: url("../img/servicios_red_gas.jpg");
    background-size: cover;
}
#servicios_imagen_dba{
    background-image: url("../img/Boulevard_principal_adoquinado.jpg");
    background-size: cover;
}
#servicios_imagen_calles_mejorado{
    background-image: url("../img/Calles_con_mejorado.jpg");
    background-size: cover;
}
#servicios_imagen_cordon_cuneta{
    background-image: url("../img/cordon_cuneta.jpg");
    background-size: cover; 
}
#servicios_imagen_bicisendas{
    background-image: url("../img/bicisendas.jpg");
    background-size: cover; 
}
#servicios_imagen_sendas_peatonales{
    background-image: url("../img/Sendas_peatonales.jpg");
    background-size: cover; 
}
#servicios_imagen_Alumbrado_Público{
    background-image: url("../img/Alumbrado_Público.jpg");
    background-size: cover; 
}
/**POSESION**/
#posesion_cont{
    min-height: 50vh;
    background-color: var(--dark_alt);
}
/*UBICACION*/
#map_cont_bonnie{
    height: 100%;
}
#ubicacion_right_cont{
    width: 100%;
    padding: 60px 120px 60px 60px;
}
#contenedor_bonnie_ubicacion{
    border-radius: 0px 20px 20px 0px;
    background-color: var(--dark_alt); 
}
/*FOOTER*/
.btn-social-bonnie {
    margin-right: 5px;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 40px;
    transition: .3s;
}
.btn-social-bonnie:hover {
    color: var(--line);
    border-color: var(--line);
}
/*** Footer ***/
.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.footer .copyright a:hover,
.footer .footer-menu a:hover {
    color: var(--secondary);
}
.footer .copyright {
    padding: 25px 0;
    border-top: 1px solid rgba(256, 256, 256, .1);
}
.footer .copyright a{
    color: rgba(256, 256, 256, .1);
}
.copy_text{
font-family: 'Sanchez';
font-style: normal;
font-weight: 300;
font-size: 13px;
letter-spacing: 0.05rem;
line-height: 15px;
color: var(--light);
}